*{
  margin: 0;
}
body{
  background-color:whitesmoke;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left{
  flex: 0.88;
}
.app__right h3{
  color:dimgray;
  font-weight: bolder;
  font-style: italic;
}
Infobox title{
  color: bisque;
}
.app_header{

  display: flex;
  align-items: center;
  margin: 20px;
  justify-content:space-between;
  color:dimgray;
}
.app_dropdown{
  background-color: white;
}
.app_stats{
  display: flex;
  justify-content: space-between;
  
}
@media (max-width :990px){
  .app{
    flex-direction: column;
  }
}