.scrollableC{
    
    margin-top: 20px;
    overflow: scroll;
    height: 800px;
    color: gray;
    background-color: white;

}


.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: gray;
    background-color: white;
}




.tbody tr{

    display: flex;
    
    justify-content: space-between;
}
.table td{
    padding: 0.5rem;
}
.table tr:nth-of-type(odd){
    background-color:aliceblue;
}